.DS_Store
modules
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
dist
server.pid
conf/scala-0.9.1
conf/mem
conf/cobertura-2.4
scala-0.9.1
cobertura-2.4
lib
mem
!deps/mem
!deps/mem/lib/play-mem.jar
deps/mem/dist
accesslog
!deps/accesslog
!deps/accesslog/lib/play-accesslog.jar
deps/accesslog/dist
accessfilter
!deps/accessfilter
!deps/accessfilter/lib/play-accessfilter.jar
deps/accessfilter/dist
mobile-ips
!deps/mobile-ips
!deps/mobile-ips/lib/play-mobile-ips.jar
!deps/mobile-ips/lib/commons-net-3.1.jar
deps/mobile-ips/dist
!data/mobile-ips
!testdata/mobile-ips
doc/
generated/
cobertura.ser
.classpath
.project
.settings
.scala_dependencies
.cache
.DS_Store
deps/**/*.pyc
